# Exercise 1 - Datasets
#Exercise1/customPics/*
#Exercise1/originalPics/*

# Exercise 2 - Datasets
#Exercise2/container/lfw-dataset/*
#Exercise2/container/lfwa-dataset/*

# Project - Datasets
Project/detectors/sbi/weights/*
Project/datasets/face-forensics/*