# Project - Datasets
Project/detectors/sbi/weights/FF*
Project/detector-output/oc-fd-final/output_train_20240109_183552_FF_split/*.pth
Project/detector-output/oc-fd-final/output_train_20240117_110715_FF_split/*.pth
Project/detector-output/oc-fd-final/output_test_20240117_223446_FF_split/*.pth